.bg-fibonacci
{
  background-image: url("./media/fibonacci.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#exampleFormControlTextarea1 
{
  resize: none;
}